@use '@css/config' as *;
@use '@css/functions' as *;

.site-menu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding-left: var(--space-m);
  a[href] {
    font-size: $lg;
    font-weight: 500;
    font-family: $ntr;
    text-transform: uppercase;
    &.active {
      color: var(--c-linkActive);
    }
  }
  @media (min-width: $xlarge) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  .site-logo {
    text-align: center;
  }
  .site-nav {
    padding: var(--space-s) 0;
    margin: var(--space-m) auto;
    border-top: 1px solid slate(3);
    border-bottom: 1px solid slate(3);
    @apply dark:border-slate-900;
    nav {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      > a {
        font-family: $smooch;
        font-size: $lg;
        font-weight: 500;
        letter-spacing: 0.063vw;
      }
    }
  }
  .notes-block {
    flex: 1 1 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: var(--space-m) 0;
    > .btn {
      font-size: $p;
      padding: 0.75rem 1rem;
    }
  }
}