@use 'gerillass' as *;
@use '@css/config' as *;
@use '@css/functions' as *;

#site-menu {
  position: relative;
  padding: 0 2rem;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  flex: 1 0 100%;
  background: var(--c-background);
  @include breakpoint(min, medium) {
    flex: 4 0 0;
    display: flex;
  }
}

.mobile-nav {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 2rem;
  left: 2rem;
  @include breakpoint(min, medium) {
    display: none;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  
  .site-logo {
    display: flex;
    text-align: center;
    width: 150px;
    @include breakpoint(min, medium) {
      width: 200px;
    }
    @include breakpoint(min, large) {
      width: 250px;
    }
  }
  .site-nav {
    padding: var(--space-s) 0;
    margin: var(--space-m) auto;
    border-top: 1px solid slate(3);
    border-bottom: 1px solid slate(3);
    @apply dark:border-slate-900;
    nav {
      display: flex;
      flex-direction: column;
      gap: 2vh;
      @include breakpoint(min, medium) {
        gap: 4vh;
      }
      > a {
        font-family: $smooch;
        font-weight: 500;
        font-size: $h2;
        letter-spacing: 0.101vw;
        @include breakpoint(min, medium) {
          font-size: $lg;
          letter-spacing: 0.063vw;
        }
      }
    }
  }
  .notes-block {
    flex: 1 1 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: var(--space-m) 0;
    > .btn {
      font-size: $p;
      padding: 0.5rem 1.25rem;
    }
  }
}