@use '@css/config' as *;
@use '@css/functions' as *;

.hero {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  right: 0;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 0;
    //transform: rotate(0.5turn);
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: gradient(gotham);
    position: absolute;
    opacity: 0.5;
    mix-blend-mode: overlay;
    background-blend-mode: color-dodge;
  }
}

.content {
  padding: 4vh 0.5rem;
  background: var(--c-background);
}