@use '@css/config' as *;
@use '@css/functions' as *;

.hero {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  > img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 0;
    transform: rotate(0.5turn);
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: gradient(subtle-grey);
    position: absolute;
    opacity: 0.5;
    mix-blend-mode: overlay;
    background-blend-mode: color-dodge;
  }
}